@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

body {
  background: linear-gradient(to bottom, #1d6ff0, #3399ff);
}

.bg-card {
  background: linear-gradient(to bottom, #f6d5af, #fce3cb);
}

.libre-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.border-arcadia {
  border-width: 2px;
  border-color: #7D4C38;
}

.text-arcadia {
  color: #83503B;
}

.color-arcadia {
  color: #FCE3CB;
}