@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Noto Serif", serif;
  background: linear-gradient(to bottom, #1d6ff0, #3399ff);
}

.bg-card {
  background: linear-gradient(to bottom, #f6d5af, #fce3cb);
}

.border-arcadia {
  border-width: 2px;
  border-color: #7D4C38;
}

.border-table {
  border-width: 2px;
  border-color: #a0644d;
}

.border-arcadia-small {
  border-width: 1px;
  border-color: #7D4C38;
}

.text-arcadia {
  color: #83503B;
}


.color-arcadia {
  color: #FCE3CB;
}

.bg-leftCloud {
  background-image: url('/images/leftCloud.svg');
}

.bg-rightCloud {
  background-image: url('/images/rightCloud.svg');
}

.bg-topCloud {
  background-image: url('/images/topCloud.svg');
}

.bg-midCloud {
  background-image: url('/images/midCloud.svg');
}